@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Velkommen til Potlog</h1>
    <p class="lead">Potlog er en service til folk der har brug for en værktøj til at planlægge et sammenskudsgilde</p>
</div>

