<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Fejl.</h1>
        <h2>Der skete en uventet fejl.</h2>
    </hgroup>
</body>
</html>
