<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <host>
    <baseAddresses>
      <add baseAddress="http://localhost:9977"/>
    </baseAddresses>
  </host>
  <endpoint address="Service" binding="HttpBinding" contract="PotLogService.IService">
    <identity>
      <dns value="localhost"/>
    </identity>
  </endpoint>
  <behaviors>
    <serviceBehaviors>
      <behavior name="Behavior">
        <serviceMetadata httpGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="False"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
</configuration>